<div class="bottomNav-type1">
    <ul>
        <li>
            <a href="/index.html" class="bottomNav-button">
                <img src="/asset/images/bottomNav-home.png" alt="">
            </a>
        </li>
        <li>
            <a href="#"  class="bottomNav-button">
                <img src="/asset/images/bottomNav-list.png" alt="">
            </a>
        </li>
        <li>
            <a href="/bast.html"  class="bottomNav-button">
                <img src="/asset/images/bottomNav-best.png" alt="">
            </a>
        </li>
        <li>
            <a href="/event.html"  class="bottomNav-button">
                <img src="/asset/images/bottomNav-event.png" alt="">
            </a>
        </li>
        <li>
            <a href="/mypage.html"  class="bottomNav-button">
                <img src="/asset/images/bottomNav-my.png" alt="">
            </a>
        </li>
    </ul>
</div>