<div class="footer">
    <div class="footer-top">
        <h3>고객센터</h3>
        <p class="contact">0000-0000</p>
        <p class="businessHours">평일 09:00~ 18:00 (주말 및 공휴일 휴무)</p>
    </div>
    <div class="footer-bt">
        <h2>(주) 열매나무 </h2>
        <div class="ft-tab">
            <a href="">고객센터</a>
            <span></span>
            <a href="">개인정보처리방침</a>
            <span></span>
            <a href="">이용약관</a>
        </div>
        <p class="footer-information">
            주소 :  <br>
            대표자명: <br>
            사업자등록번호: <br>
            통신판매신고: <br>
            이메일:
        </p>
    </div>
</div>