<div class="header-type1">
    <div class="topBanner">
        <a href="">회원가입하고 열매나무의 신선한 상품을 할인받아보세요!</a>
        <button><i class="xi-close"></i></button>
    </div>
    <div class="header-box">
        <a href="/" class="logo">LOGO</a>

        <div class="header-btn-wrap">
            <button class="header-btn search-btn"><i class="xi-search"></i></button>
            <a href="/cart.html" class="header-btn"><i class="xi-cart-o"></i></a>
            <!-- <a href="/cart.html" class="header-btn"><i class="xi-user-o"></i></a> -->
        </div>
    </div>
</div>